PORT=8000
MONGO_URI=mongodb+srv://reinpandora07:reinpandora07@cluster0.zmy9uzr.mongodb.net/doantt?retryWrites=true&w=majority

MAIL_USER=yoshidamidori98@gmail.com
MAIL_PASS=rcbmykkbwhbrxxdz 

JWT_SECRET=afljfs1fjssdlfjdsdf
SECRET_KEY=afljfs1fjssdlfjdsdf
BCRYPT_SALT_ROUNDS=10

FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=deuyaqjju
CLOUDINARY_API_KEY=468472378445834
CLOUDINARY_API_SECRET=io9YbwyRSGPgAWBzf6TtDoMLtjQ
